link: 'Homepage:'
position: 1

menu:
    tracking:
        visits:
            link: ''
        pageVisits:
            link: ''
            arguments: [interval: null]
        clickTracking:
            link: ''