title: 'Analytics'
interval: 'Období'

tracking:
    title: "Sledování webu"
    pageVisits.title: "Návštěvy stránek"
    clickTracking.title: "Kliky"
    visits.title: "Návštevy"
    visitsByDay: "Počet návštev po dnech"
    visitsByHour: "Počet návštev po hodinách"
    page: "Stránka"
    countVisits: "Počet návštev"
    countViews: "Počet zobrazení"
    clicksByDay: "Počet kliků po dnech"
    clicksByValue: "Počet kliků podle hodnoty"
    clickGroup: "Skupina"
    clicks: "Kliky"
    avg: "Průměrná hodnota"
    sum: "Celková hodnota"