title: 'Analytics'
interval: 'Interval'

tracking:
    title: "Web tracking"
    pageVisits.title: "Page visits"
    clickTracking.title: "Clicks"
    visits.title: "Visits"
    visitsByDay: "Visits by day"
    visitsByHour: "Visits by hour"
    page: "Page"
    countVisits: "Count visits"
    countViews: "Count views"
    clicksByDay: "Clicks by day"
    clicksByValue: "Clicks by value"
    clickGroup: "Group"
    clicks: "Clicks"
    avg: "Average value"
    sum: "Total value"